<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="nav-item nav-link text-muted" href="home">Home</a>
    <a class="nav-item nav-link text-muted" href="recs">Recommendations</a>
    <a class="nav-item nav-link text-muted" href="data">Project Details</a>
    <a class="nav-item nav-link text-muted" href="resources">Resources</a>
  </nav>
  <style type="text/css">
    div {
      background: #ffe4e1b9 !important;
    } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Hello, Gorgeous!</h1>
      <p class="lead">Let me help you find an outfit.</p>
      <hr class="my-4" />
      <p>
        Give me a photo of an outfit you love, and I'll recommend some pieces
        from Rent the Runway that you might like to try.
      </p>
      <a class="btn btn-light btn-sm" href="recs" role="button">Let's Go!</a>
    </div>
  </body>
</html>
