<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="nav-item nav-link text-muted" href="/home">Home</a>
    <a class="nav-item nav-link text-muted" href="/recs">Recommendations</a>
    <a class="nav-item nav-link text-muted" href="/data">Project Details</a>
    <a class="nav-item nav-link text-muted" href="/resources">Resources</a>
  </nav>
  <style type="text/css">
    body {
      background: #ffe4e1b9 !important;
    } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
  </style>
  <body>
    <div class="container">
      <h4 class="lead">Data:</h4>
      <ul>
        <li>
          <a
            href="http://mmlab.ie.cuhk.edu.hk/projects/DeepFashion/AttributePrediction.html"
            >Deep Fashion Dataset</a
          >
        </li>
        <li>
          <a href="http://renttherunway.com">Rent the Runway</a>
        </li>
      </ul>
      <h4 class="lead">Inspiration:</h4>
      <ul>
        <li>
          <a
            href="https://www.groundai.com/project/image-based-fashion-product-recommendation-with-deep-learning/#S3.T2"
            >Image Based Fashion Product Recommendation with Deep Learning</a
          >
        </li>
        <li>
          <a
            href="https://towardsdatascience.com/building-a-recommendation-system-using-neural-network-embeddings-1ef92e5c80c9"
            >Building a Recommendation System Using Neural Network Embeddings</a
          >
        </li>
        <li>
          <a href="https://prezi.com/x0rdukz3joob/clothing-recommender-system/"
            >Clothing Recommender System</a
          >
        </li>
      </ul>
      <h4 class="lead">Libraries:</h4>
      <ul>
        <li>
          <a href="https://docs.fast.ai/">fast.ai</a>
        </li>
        <li>
          <a href="https://github.com/spotify/annoy"
            >Annoy (Approximate Nearest Neighbors Oh Yeah)</a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
